# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp working-tree-encoding=UTF-16LE eol=CRLF
*.sln    merge=union working-tree-encoding=UTF-16LE eol=CRLF
*.csproj merge=union working-tree-encoding=UTF-16LE eol=CRLF
*.vbproj merge=union working-tree-encoding=UTF-16LE eol=CRLF
*.fsproj merge=union working-tree-encoding=UTF-16LE eol=CRLF
*.dbproj merge=union working-tree-encoding=UTF-16LE eol=CRLF

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain